* {
    margin: auto;
}

/*bannar styling*/

.bannar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1320px;
    max-height: 600px;
    margin-top: 50px;

}

.bannar::before {
    content: "";
    position: absolute;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.text-container {
    position: absolute;
    width: 632px;
    display: block;
    text-align: center;
}


.image-container img {
    border-radius: 16px;
}

.bannar-head {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}

.bannar-title {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
}

/*main*/
/*offer styling*/

.offer-title {
    color: #F00;
    text-align: center;
    font-family: 'Inter';
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
}

#offer-tagline {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}

#offer-subheading {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

#offer-image {
    width: 802.90px;
    height: 500px;
    margin-top: 48px;
}

/*Welcome styling*/
.Welcome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: 1320px;
    max-height: 600px;
    margin-top: 50px;

}

#Welcome-contents {
    position: absolute;
}

#welcome-title {

    color: #FFF;
    width: 642px;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-left: 126px;
}

#welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-left: 126px;
    width: 697px;
}

#join-button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
    margin-left: 158px;
    background: none;
    border-radius: 1px;
}

#join-button:hover {
    background: none;
    border-color: #FFF;
}

#Welcome-images {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

#Welcome-images::before {
    content: "";
    position: absolute;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

#Welcome-background {
    width: 1320px;
    height: 600px;
}

#year-2024 {
    position: absolute;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    justify-content: left;
    text-align: right;
    margin-top: 68px;
    margin-right: 138px;
    flex-shrink: 0;
}

/*PLACE SECTION*/

.place {
    display: flex;
    position: relative;
    width: 1320px;
    height: 482px;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

#place-tag,
#date-tag,
#time-tag {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.place-info {
    position: absolute;
    margin-top: 100px;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 214px;
    text-transform: capitalize;
}

#join-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

#place-join-button {

    border-radius: 8px;
    background: #F00;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#join-place {
    position: relative;
    margin-top: 316px;
}