*{
    margin: auto;
}
.bannar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1320px;
    max-height: 600px;
    margin-top: 50px;

}

.bannar::before{
    content: "";
    position: absolute;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.text-container {
    position: absolute;
    width: 632px;
    display: block;
    text-align: center;
}


.image-container img {
    border-radius: 16px;
}

.bannar-head {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}

.bannar-title {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
}